# cmake
build/
install/
CMakeCache.txt
CMakeFiles/

# profiling
flamegraph.svg

# clangd
.cache

# direnv
.direnv/

# nix
result

# coverage
coverage

# scratch
scratch/

# vscode
.vscode/

# views of data
*.gz
!data/**/*.gz
*.tar
!data/**/*.tar
*.txt
!data/**/*.txt

# uvgz for assignment submission
uvgz
